@*nhan dien cac file trong thu muc Models*@
@using project.Models
@using X.PagedList.Mvc.Core
@*khai bao kieu du lieu cua Model*@
@model X.PagedList.IPagedList<ItemUser>
@{
    //import file Layout.cshtml vao day
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}

<div class="col-md-12">
    <div style="margin-bottom:5px;">
        <a href="/Admin/Users/Create" class="btn btn-primary">Create</a>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">List User</div>
        <div class="panel-body">
            <table class="table table-bordered table-hover">
                <tr>
                    <th>Fullname</th>
                    <th>Email</th>
                    <th style="width:100px;"></th>
                </tr>
                @foreach (var row in Model)
                {
                    <tr>
                        <td>@row.Name</td>
                        <td>@row.Email</td>
                        <td style="text-align:center;">
                            <a href="/Admin/Users/Update/@row.Id">Edit</a>&nbsp;
                            <a href="/Admin/Users/Delete/@row.Id" onclick="return window.confirm('Are you sure?');">Delete</a>
                        </td>
                    </tr>
                }
            </table>
            <style type="text/css">
                .pagination {
                    padding: 0px;
                    margin: 0px;
                }
            </style>
            @*phan trang bang tay*@
            @*So trang: @Model.PageCount /
            Trang hien tai: @Model.PageNumber*@
            @Html.PagedListPager(Model, page => Url.Action("Read", new { page = page, a = 1, b = 2 }) )
        </div>
    </div>
</div>