@{
    Layout = "~/Views/Shared/LayoutTrangChu.cshtml";
}
@* de phan trang thi phai using cac doi tuong sau *@
@using X.PagedList
@using X.PagedList.Mvc.Core
@* doi tuong thao tac file *@
@using System.IO
@* nhin thay file MyDbContext *@
@using project.Models
@functions {
    public MyDbContext db = new MyDbContext();
    public ItemCustomer GetCustomers(int _CustomerId)
    {
        //lay mot ban ghi
        ItemCustomer record = db.Customers.Where(item => item.Id == _CustomerId).FirstOrDefault();
        return record != null ? record : new ItemCustomer();
    }
}
<div class="col-md-12" style="margin-top:50px;">
    <div class="panel panel-primary">
        <div class="panel-heading">List orders</div>
        <div class="panel-body">
            <table class="table table-bordered table-hover">
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Phone</th>
                    <th>Created</th>
                    <th>Price</th>
                    <th>Status</th>
                    <th style="width:150px;"></th>
                </tr>
                @foreach (var item in Model)
                {
                    ItemCustomer recordCustomer = GetCustomers(item.CustomerId);
                    <tr>
                        <td>@recordCustomer.Name</td>
                        <td>@recordCustomer.Address</td>
                        <td>@recordCustomer.Phone</td>
                        <td>@item.Create.ToString("ddMMyyyy")</td>
                        <td>@string.Format("{0:#,#.}", item.Price)</td>
                        <td>
                            @if (item.Status == 2)
                            {
                                <text><label class="label label-warning">Đã hủy đơn hàng</label></text>
                            }
                            @if (item.Status == 1)
                            {
                                <text><label class="label label-danger">Đã giao hàng</label></text>
                            }
                            @if (item.Status == 0)
                            {
                                <text><label class="label label-primary">Chưa giao hàng</label></text>
                            }
                        </td>
                        <td style="text-align:center;">
                            <a href="/Account/Detail/@item.Id">Chi tiết</a>
                        </td>
                    </tr>
                }
            </table>
            <style type="text/css">
                .pagination {
                    padding: 0px;
                    margin: 0px;
                }
            </style>
            @* ham sau se thuc hien viec hien thi phan trang *@
            @Html.PagedListPager((IPagedList)Model, p => Url.Action("Index", new { page = p }))
        </div>
    </div>
</div>